# THIS FILE WAS TEMPLATED USING ANSIBLE! MANUAL CHANGES WILL BE ERASED!

[supervisord]
logfile={{ logs_dir }}elastalert_supervisord.log
logfile_maxbytes=1MB
logfile_backups=2
loglevel=debug
nodaemon=true
directory=%(here)s

[supervisorctl] # Added to resolve this issue: https://askubuntu.com/questions/911940/error-ini-file-does-not-include-supervisorctl-section

# [inet_http_server] # Added to resolve this issue: https://askubuntu.com/questions/911994/supervisorctl-3-3-1-http-localhost9001-refused-connection
# port = 127.0.0.1:9001

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[program:elastalert]
# running globally
command = python {{ source_dir }}/elastalert/elastalert.py --config {{ config }} --verbose
# (alternative) using virtualenv
#command=elastalert --verbose --config {{ config }}
process_name=elastalert
autorestart=true
startsecs=15
stopsignal=INT
stopasgroup=true
killasgroup=true
stderr_logfile={{ logs_dir }}/elastalert_stderr.log
stderr_logfile_maxbytes=5MB