Host *
# Security
ForwardAgent yes
# Connection multiplexing
ControlMaster auto
ControlPersist 2m
ControlPath ~/.ssh/ansible-%r@%h:%p
# Connect through bastion hosts
ProxyCommand ssh -W %h:%p bastion

Host gegd_ftp
  HostName 10.30.30.106
  User powerusers-benjaminbuzzellimaxar
  #ProxyCommand ssh bastion -W %h:22
  ForwardAgent yes
  Compression yes

Host bastion
  Hostname bastion.ossim.io
  User powerusers-benjaminbuzzellimaxar
  ForwardAgent yes
  Compression yes
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m
